name: FIRMS NRT

on:
  # pull_request:

  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *' # every 6th hour
  workflow_dispatch:

jobs:
  flows:
    runs-on: ubuntu-latest

    env:
      FIRMS_MAP_KEY: ${{ secrets.FIRMS_MAP_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-west-2

    timeout-minutes: 240
    container:
      image: quay.io/carbonplan/forest-offsets-fires:latest
      options: --user root

    steps:
      - uses: actions/checkout@v3
      - name: install
        run: |
          python -m pip install --no-deps .

      - name: run-script
        run: |
          python scripts/firms_nrt_raster_ETL.py

      - name: Initialize Skyplane
        run: |
          skyplane init -y --disable-config-azure --disable-config-gcp

      - name: Skyplane Copy
        run: |
          skyplane cp -r -y s3://carbonplan-forest-offsets/fires/firms_nrt/pyramid/staging/ s3://carbonplan-forest-offsets/web/tiles/current-firms-hotspots/
