name: firms-nrt

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *' # every 6th hour
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-firms-tiles:
    runs-on: ubuntu-latest

    env:
      FIRMS_MAP_KEY: ${{ secrets.FIRMS2_MAP_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-west-2

    timeout-minutes: 240
    container:
      image: quay.io/carbonplan/forest-offsets-fires:9ed9a6ab3f65
      options: --user root

    steps:
      - uses: actions/checkout@v3

      - name: Install
        run: |
          git config --global --add safe.directory /__w/forest-offsets-fires/forest-offsets-fires
          python -m pip install .
          python -m pip list

      - name: Generate vector tiles
        run: |
          python scripts/generate_firms_tiles.py
