name: lance-firms-monitoring

on:
  push:
    branches:
      - main
  schedule:
    - cron: '12 */8 * * *' # every 8th hour
  workflow_dispatch:

jobs:
  flows:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL}}
    timeout-minutes: 5
    container:
      image: carbonplan/fire-monitor-prefect:2022.06.06
      options: --user root
    steps:
      - uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'

      - name: install
        run: |
          git config --global --add safe.directory /__w/forest-offsets-fires/forest-offsets-fires
          python -m pip install pyarrow
          python -m pip install --no-deps .
          python -m pip list

      - name: run-flows
        run: |
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/monitor_project_fires.py
