name: fires

on:
  # pull_request:

  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *' # every 6th hour
  workflow_dispatch:

jobs:
  flows:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-west-2

    timeout-minutes: 30
    container:
      image: quay.io/carbonplan/forest-offsets-fires:latest
      options: --user root
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: |
          git config --global --add safe.directory /__w/forest-offsets-fires/forest-offsets-fires
          python -m pip install --no-deps .
          python -m pip list

      - name: run-flows
        run: |
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/download_nifc_perimeters.py
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/make_fire_tiles.py
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/calculate_project_stats.py
