name: fires

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *' # every 6th hour
  workflow_dispatch:

jobs:
  flows:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    container:
      image: carbonplan/fire-monitor-prefect:2022.06.06
      options: --user root
    steps:
      - uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'

      - name: install
        run: |
          git config --global --add safe.directory /__w/forest-offsets-fires/forest-offsets-fires
          python -m pip install pyarrow fuzzywuzzy
          python -m pip install --no-deps .
          python -m pip list

      - name: run-flows
        run: |
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/download_nifc_perimeters.py
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/make_fire_tiles.py
          prefect run -p ./carbonplan_forest_offsets_fires/prefect/workflows/calculate_project_stats.py
